/* Folio Stylesheet */

* {
    overflow: hidden;
    margin: 0;
}

@font-face {
    font-family: caviar;
    src: url('fonts/CODE Bold.otf');
}

/* Header-Section */

.container {
    background-image: url(img/para1.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0% 0%;
    background-attachment: fixed;
    width: 100%;
    height: 100%;


}

.child_container {
    padding: 1em;
    background-color: transparent;

}

.overlay {
    /*background:rgba(128,128,128,0.1); */
    width: 100%;
    height: 100%;

}

.author {

    position: absolute;
    top: 20%;
    padding: 2em;
    margin: auto
}

.one,
.two {
    letter-spacing: 5px;
    font-size: 15px;
    font-family: caviar;



}

.one {
    background: black;
    color: white;
    padding: 10px 12px;
}

.two {
    padding: 10px 12px;
    background: white;
    color: black;
}

.social-icons {
    width: auto;
    height: auto;

}

.social-icons a {
    font-size: 20px;
    padding: .7em;
    background: transparent;
    text-decoration: none;
    color: #fff;
    display: inline-block;

}

/*
 <div class="user-image">
                 <div class="overlay"></div>
            </div>
.user-image{
    width: 150px;
    height: 150px;
    border-radius:50%;
    background-image:url(img/1.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    background-position: 0% 0%;
    position: relative;
    left: 20%;
    
    overflow: hidden; 
}

.user-image:hover .overlay {
  opacity: 1;
  width: 100%;
  height: 100%;
}

.user-image .overlay {
  background: rgba(0, 0, 0, 0.4);
  position: absolute;
  margin: auto;
  width: 0px;
  height: 0px;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  opacity: 0;
  -webkit-transition: .4s ease;
  transition: .4s ease;
}

*/

.bio {
    position: absolute;
    top: 40%;
    width: 100%;
    height: auto;
    margin: 10px auto;


}


.bio h1 {
    font-family: caviar;
    font-size: 35px;
    letter-spacing: 10px;

}

.bio p {

    font-family: caviar;
    font-size: .8em;
    letter-spacing: 4px;
    line-height: 1.5em;

}

footer {



    font-family: caviar;
    position: absolute;
    bottom: 20px;

}

footer p {

    letter-spacing: 2px;
    font-size: .8em;
    line-height: 1.5em;



}

footer a {
    text-decoration: none;
    color: #ff0000;
}


.container1 {

    width: 100%;
    height: 100%;
    background: red;
    display: none;


}

























@media(min-width:48em) {

    .social-icons a {
        float: right;
        padding: .9em;
        background: transparent;
        text-decoration: none;
        color: #fff;

    }

    .author {

        top: 30%;
        left: 40%;
        position: absolute;


    }


    .bio {
        position: absolute;
        top: 50%;
        left: 30%;
        display: inline-block;


    }

    .bio h1 {
        font-family: caviar;
        font-size: 35px;
        letter-spacing: 20px;
    }

    footer p {
        display: block;
        word-spacing: 2px;
        letter-spacing: 2px;
        font-size: 15px;

    }
}
