@font-face {
    font-family: caviar;
    src: url('fonts/CODE Bold.otf');
}



/* Header-Section */

.container {
    position: fixed;
    width: 100%;
    height: 100%;
    background-image: url(img/para1.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
     
}

.child_container {
    position: absolute; 
    padding:3em ;
    height: 100%;
    width: 100%;
  -o-animation: colorcycle 20s infinite;
  -moz-animation: colorcycle20s infinite;
  -webkit-animation: colorcycle 20s infinite;
  animation: colorcycle 20s infinite; 
   background: rgba(28, 216, 242,  0.5);

}
@-o-keyframes colorcycle {
  0%   {background-color:rgba(28, 216, 242,  0.5);  }
  25%  {background-color:rgba(241, 148, 138,0.3);}
  50%  {background-color:rgba(0,0,255,0.3);}
  75%  {background-color:rgba(128,128,128,0.5);}
}

@-moz-keyframes colorcycle {
  0%   {background-color:rgba(28, 216, 242,  0.5);  }
  25%  {background-color:rgba(241, 148, 138,0.3);}
  50%  {background-color:rgba(0,0,255,0.3);}
  75%  {background-color:rgba(128,128,128,0.5);}
}

@-webkit-keyframes colorcycle {
  0%   {background-color:rgba(28, 216, 242,  0.5);  }
  25%  {background-color:rgba(241, 148, 138,0.3);}
  50%  {background-color:rgba(0,0,255,0.3);}
  75%  {background-color:rgba(128,128,128,0.5);}
}

@keyframes colorcycle {
  0%   {background-color:rgba(28, 216, 242,  0.5);  }
  25%  {background-color:rgba(241, 148, 138,0.3);}
  50%  {background-color:rgba(0,0,255,0.3);}
  75%  {background-color:rgba(128,128,128,0.5);}
}


.author {
    
    margin-top:5em;
    padding: 2em 0 ;

}

.one,
.two {
    letter-spacing: .4em;
    font-size: .9em;
    font-family: caviar;
}

.one {
    background: black;
    color: white;
    padding: 10px 12px;
}

.two {
    padding: 10px 12px;
    background: white;
    color: black;
}

.social-icons {
    width: auto;
    height: auto;
    
}

.social-icons a {
    font-size: 20px;
    padding:.5em;  
    text-decoration: none;
    color: #fff;
    display: inline-block;


}

/*
 <div class="user-image">
                 <div class="overlay"></div>
            </div>
.user-image{
    width: 150px;
    height: 150px;
    border-radius:50%;
    background-image:url(img/1.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    background-position: 0% 0%;
    position: relative;
    left: 20%;
    
    overflow: hidden; 
}

.user-image:hover .overlay {
  opacity: 1;
  width: 100%;
  height: 100%;
}

.user-image .overlay {
  background: rgba(0, 0, 0, 0.4);
  position: absolute;
  margin: auto;
  width: 0px;
  height: 0px;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  opacity: 0;
  -webkit-transition: .4s ease;
  transition: .4s ease;
}

*/

.bio {
    margin-top:2em;
    width: 100%;
    height: auto;

}


.bio h1 {
    font-family: caviar;
    font-size: 2em;
    letter-spacing:.4em;
    margin: 0;
    padding:0;

}

.bio p {

    font-family: caviar;
    font-size: .7em;
    letter-spacing: .2em;
   

}

footer {

    font-family: caviar;
    margin-top: 5em;

}

footer p {

    letter-spacing: .1em;
    font-size:1em;
   
    margin: 0;
}

footer a {
    text-decoration: none;
    color: white;

}


.container1 {

    width: 100%;
    height: 100%;
    background: red;
    display: none;


}


















/* Landscape Orientation */
@media screen and (orientation: landscape) {

    .container, .child_container{
        overflow-y: scroll;
    }
 
}


/* Wide Screen  */
@media(min-width:48em) {

  .container, .child_container{
        overflow:hidden;
    }
    
    .social-icons a {
        float: right;
        font-size:1.5em;


    }

    .author {
       position: absolute;
        top: 30%;
        left: 40%;
        margin-top: 0;
    }


    .bio {
         position: absolute;
        top: 50%;
        left: 30%;
        margin-top: 0;
  
    }

    .bio h1 {

        font-size: 2em;
        letter-spacing: 20px;

    }

footer {

    margin-top: 0;
    position: absolute;
    bottom: 2em;

}
}
