@import url('https://fonts.googleapis.com/css?family=Advent+Pro:100');

html, body {overflow:hidden;margin: 0;font-family: 'Advent Pro', sans-serif; height: 100%; margin: 0;  }
/* Header-Section */

.container {
    position: fixed;
    overflow:hidden;
    width:100%;
    height:100vh;
    background-image: url(img/para1.jpg);
    background-size: cover;
    background-repeat: no-repeat;

     
}

.color_cycle {
    position:fixed;
    overflow-x: hidden;
    overflow-y: auto;
    height:100%;
    width: 100%;
    padding-right:17px;
    -o-animation: colorcycle 20s infinite;
  -moz-animation: colorcycle20s infinite;
  -webkit-animation: colorcycle 20s infinite;
   animation: colorcycle 20s infinite; 
    background-color:rgba(28, 216, 242,  0.3); 
}

.child_container{
    padding:1em ;
    width: 100%;
    height: 100%; 
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
      
}

@-o-keyframes colorcycle {
  0%   {background-color:rgba(28, 216, 242,  0.5);  }
  25%  {background-color:rgba(241, 148, 138,0.3);}
  50%  {background-color:rgba(0,0,255,0.3);}
  75%  {background-color:rgba(128,128,128,0.5);}
}

@-moz-keyframes colorcycle {
  0%   {background-color:rgba(28, 216, 242,  0.5);  }
  25%  {background-color:rgba(241, 148, 138,0.3);}
  50%  {background-color:rgba(0,0,255,0.3);}
  75%  {background-color:rgba(128,128,128,0.5);}
}

@-webkit-keyframes colorcycle {
  0%   {background-color:rgba(28, 216, 242,  0.5);  }
  25%  {background-color:rgba(241, 148, 138,0.3);}
  50%  {background-color:rgba(0,0,255,0.3);}
  75%  {background-color:rgba(128,128,128,0.5);}
}

@keyframes colorcycle {
  0%   {background-color:rgba(0,0,255,0.3);  }
  25%  {background-color:rgba(241, 148, 138,0.3);}
  50%  {background-color:rgba(28, 216, 242,  0.3);}
  75%  {background-color:rgba(128,128,128,0.3);}
}


.social-icons a {

    font-size:1.5em;
    padding:.5em;  
    text-decoration: none;
    color:black;
    

}



.one, .two {
    letter-spacing: .4em;
    font-size: .9em;
    padding:1em 2em;
    
    
}

.one {
    background: black;
    color: white;
  
}

.two {
   
    background: white;
    color: black;
}



/*
 <div class="user-image">
                 <div class="overlay"></div>
            </div>
.user-image{
    width: 150px;
    height: 150px;
    border-radius:50%;
    background-image:url(img/1.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    background-position: 0% 0%;
    position: relative;
    left: 20%;
    
    overflow: hidden; 
}

.user-image:hover .overlay {
  opacity: 1;
  width: 100%;
  height: 100%;
}

.user-image .overlay {
  background: rgba(0, 0, 0, 0.4);
  position: absolute;
  margin: auto;
  width: 0px;
  height: 0px;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  opacity: 0;
  -webkit-transition: .4s ease;
  transition: .4s ease;
}

*/


.bio{
         display: flex;
         justify-content: center;
         flex-direction: column;
         padding: 2em;
    }

.bio h1 {
     
    font-size:2.5em;
    margin:0 auto;
    letter-spacing:.1em;
   
    

}

.bio p {
    padding: 1em 0;
    font-size:1em;
    letter-spacing: .1em;
   font-weight: 600;
   

}


.author{
    padding:3em;
}


footer p {
     padding: 1em 0;
    letter-spacing: .1em;
    font-size:.8em;font-weight: 600;
    
}

footer a {
      
     color:white;

}



/* Landscape Orientation 
@media screen and (orientation: landscape) {

    .container, .child_container{
        overflow-y: scroll;
    }
.container, .child_container{
        overflow:hidden;
    }
  
}
*/

/* Wide Screen  */
@media(min-width:760px) {
  
.container, .color_cycle{
        overflow-y:auto;
    }
    

    

.bio h1{
        font-size:4em;
        letter-spacing:.1em;
    }
    
 .child_container{
        padding: 3em ;
   
    }
    
.bio p{ 
    
        margin: auto;
        font-size: 1.5em;
    }
    
footer{
       
        margin: 2em auto;
       
   
}
footer p{ 
        font-size: 1.1em;
    }
    
}
